#IDEA
*.iml
.idea/
*.ipr
*.iws

#NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

#Eclipse
local.properties
.classpath
.settings/
.loadpath
.project
.metadata

#java
target/

#other
tools/
